body {
    padding: 1rem;
    /* 
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    */
}
    /* 
    section> div is also <section><div></div>...</section>
    */
button{
  margin-left:1rem;
  margin-right: 1rem;
}


section > div {
    width: 80%;
    margin: 1rem auto;
}
/* the following styles are provided by Davey*/
form {
  margin-top: 50px;
}

dl {
  padding: 15px 10px;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}